<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Game Survey</title>
  <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!doctype HTML>
<html>


<div class='container'>
  <header class='header'>
    <h1 id='title' class='text-center'>Game Preference Survey</h1>
    <p id='description' class='description-center'>Please help us understand what games you like!</p>
  </header>
  <form id='survey-form' action:>
    <h3 style='text-align: center'>Thank you for taking the survey!</h3>
  </form>
</div>

</html>
<!-- partial -->
  
</body>
</html>